cache:
    key: frontend
    paths:
      - frontend/dist/frontend

include:
  - local: 'yml_configs/.notification.yml'
  - template: Security/SAST.gitlab-ci.yml
  - local: 'yml_configs/.frontend_test.yml'
 
stages:
   - build
   - test
   - release
   - notify


build-frontend-code-job:
  stage: build  
  rules:
    - changes:
      - frontend/**/*
  script:
    - cd frontend
    - npm install
    - npm run build

upload-frontend-release:
  stage: release
  dependencies:
    - build-frontend-code-job
  rules:
    - changes:
      - frontend/**/*
  needs:
    - build-frontend-code-job
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}" --upload-file sausage-store-${VERSION}.tar.gz ${NEXUS_REPO_URL}/sausage-store-Valerie-Shelgunova-frontend/sausage-store/${VERSION}/sausage-store-${VERSION}.tar.gz
  

      
notification-frontend:
  
  extends:
    - .notification
  variables:
    COMPONENT_NAME: "frontend"
    LINK: ${NEXUS_REPO_URL}/sausage-store-Valerie-Shelgunova-frontend/sausage-store/${VERSION}/sausage-store-${VERSION}.tar.gz
  needs:
    - upload-frontend-release   


