[Unit]
Description=Frontend of sausage-store

[Service]
SuccessExitStatus=143
User=front-user
Group=front-user
ExecStart=/usr/bin/http-server /var/www-data/dist/frontend/ -p 80 --proxy http://localhost:8080
Restart=always
StandardOutput=append:/logs/out-front.log
StandardError=append:/logs/error-front.log

[Install]
WantedBy=multi-user.target
