include:
  - local: 'yml_configs/.frontend.yml'
  - template: Security/SAST.gitlab-ci.yml
stages:
  - build
  - test
  - notify
# spotbugs-sast:
#   variables:
#     SAST_JAVA_VERSION: 11
#     COMPILE: "false"
#     MAVEN_REPO_PATH: $CI_PROJECT_DIR
#   needs:
#     - build-backend-code-job  
#   rules:
#     - changes:
#       - backend/*
eslint-sast:
  rules:
    - changes:
      - frontend/*
nodejs-scan-sast:
  rules:
    - changes:
      - frontend/*
semgrep-sast:
  rules:
    - changes:
      - frontend/* 
      - backend/* 


    


