variables:
  VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  - module-pipelines

# backend:
#   stage: module-pipelines
#   trigger:
#     include:
#       - "/backend/.gitlab-ci.yml"
#     strategy: depend
#   rules:
#     - changes:  
#       - backend/**/*
backend-report:
  stage: module-pipelines
  trigger:
    include:
      - "/backend-report/.gitlab-ci.yml"
    strategy: depend
  rules:
    - changes:  
      - backend-report/**/*
# frontend:
#   stage: module-pipelines
#   trigger:
#     include:
#       - "/frontend/.gitlab-ci.yml"
#     strategy: depend 
#   rules:
#     - changes: 
#       - frontend/**/*


