version: "3.5"

services:
  backend:
    image: ${CI_REGISTRY}/std-009-052/sausage-store/sausage-backend:latest
    container_name: sausage-backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}
      SPRING_DATASOURCE_USERNAME: ${PSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${PSQL_PASSWORD}
    networks:
      - sausage-store
    restart: always
  backend-report:
    image: ${CI_REGISTRY}/std-009-052/sausage-store/sausage-backend-report:latest
    container_name: sausage-backend-report
    environment:
      REPORT_DB: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DATABASE}?tls=true&replicaSet=${MONGO_REPLICA}&tlsCAFile=/app/YandexInternalRootCA.crt
      REPORT_PORT: ${REPORT_PORT}
    ports:
      - "8080:8080"
    networks:
      - sausage-store
    restart: always
    
  # frontend:
  #   image: ${CI_REGISTRY}/std-009-052/sausage-store/sausage-frontend:latest
  #   container_name: sausage-frontend
  #   ports:
  #     - "80:80"
  #   networks:
  #     - sausage-store
  #   restart: always

networks:
  sausage-store:
    name: sausage-store
    driver: bridge
