version: "3.5"

services:
  # backend:
  #   image: ${CI_REGISTRY}/std-009-052/sausage-store/sausage-backend:latest
  #   container_name: sausage-backend
  #   env_file:
  #     - /home/serviceuser/backend.env
  #   networks:
  #     - sausage-store
  #   restart: always
  backend-report:
    image: ${CI_REGISTRY}/std-009-052/sausage-store/sausage-backend-report:latest
    container_name: sausage-backend-report
    env_file:
      - backend-report.env
    ports:
      - "8080:8080"
    networks:
      - sausage-store
    restart: always
  # frontend:
  #   image: ${CI_REGISTRY}/std-009-052/sausage-store/sausage-frontend:latest
  #   container_name: sausage-frontend
  #   ports:
  #     - "80:80"
  #   networks:
  #     - sausage-store
  #   restart: always

networks:
  sausage-store:
    name: sausage-store
    driver: bridge
