cache:
    key: backend
    paths:
      - backend/target

variables:
  JAVA_OPTS: -XX:MaxRAMPercentage=90
include:
  - local: 'yml_configs/.notification.yml'
  - template: Security/SAST.gitlab-ci.yml
  - local: 'yml_configs/.backend-test.yml'
 
stages:
   - build
   - test
   - release
   - notify


build-backend-code-job:
  stage: build  
  rules:
    - changes:
      - backend/**/*
  script:
    - cd backend
    - mvn help:effective-settings
    - mvn package -Dversion.application=${VERSION}
  
 

upload-backend-release:
  stage: release
  rules:
    - changes:
      - backend/**/*
  script:
    - cd backend
    - mvn -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy 
  

notification-backend:
  
  extends:
    - .notification
  variables:
    COMPONENT_NAME: "backend"
    LINK: ${NEXUS_REPO_URL}/sausage-store-Valerie-Shelgunova-backend/com/yandex/practicum/devops/sausage-store/${VERSION}/sausage-store-${VERSION}.jar
  
  


