cache:
    key: backend
    paths:
      - backend/target

variables:
  JAVA_OPTS: -XX:MaxRAMPercentage=90
include:
  - local: 'yml_configs/.notification.yml'
  - template: Security/SAST.gitlab-ci.yml
  - local: 'yml_configs/.backend-test.yml'
 
stages:
   - build
   - test
   - release
   - notify
   - deploy




upload-backend-release:
  stage: release
  rules:
    - changes:
      - backend/**/*
  script:
    - cd backend
    - mvn -s settings.xml -Dversion.application=${VERSION} -DskipTests deploy 
  

notification-backend:
  
  extends:
    - .notification
  variables:
    COMPONENT_NAME: "backend"
    LINK: ${NEXUS_REPO_URL}/sausage-store-Valerie-Shelgunova-backend/com/yandex/practicum/devops/sausage-store/${VERSION}/sausage-store-${VERSION}.jar

deploy-backend:
  stage: deploy
  rules:
    - changes:
      - backend/**/*
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 600 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - scp ./backend/sausage-store-backend.service ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/sausage-store-backend.service
    - scp ./backend/deploy-backend.sh ${DEV_USER}@${DEV_HOST}:/home/${DEV_USER}/deploy-backend.sh
    - ssh ${DEV_USER}@${DEV_HOST} "export "CURRENT_VERSION=${VERSION}"; export "VERSION=${VERSION}"; export "DEV_HOST=${DEV_HOST}";export "NEXUS_REPO_URL=${NEXUS_REPO_URL}"; export "NEXUS_REPO_USER=${NEXUS_REPO_USER}"; export "NEXUS_REPO_PASS=${NEXUS_REPO_PASS}";setsid /bin/bash -s " < ./backend/deploy-backend.sh  
    

  
  


