[Unit]
Description=Backend of sausage-store

[Service]
User=jarservice
Group=jarusers
EnvironmentFile=/home/serviceuser/sausagestore.env
StandardOutput=append:/opt/log/sausage-store-backend.log
StandardError=append:/opt/log/error-sausage-store-backend.log
Restart=always
ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store-backend.jar'\
--spring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}\
--spring.datasource.username=${PSQL_USER}\
--spring.datasource.password=${PSQL_PASSWORD}\
--spring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true 

SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
