[Unit]
Description=Backend of sausage-store

[Service]
User=jarservice
Group=jarusers
EnvironmentFile=/etc/default/sausagestore
StandardOutput=file:/log/out.log
StandardError=file:/logs/error.log
Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
